---
import Services from "../main/services/Services.astro";
---

<main class="main__container">
  <Services />
</main>
<style>
  .main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--primary-color);
    text-align: center;
    color: var(--primary-color);
  }
</style>
